NET "iPinTck"  IOSTANDARD = LVCMOS33;
NET "iPinTms"  IOSTANDARD = LVCMOS33;
NET "iPinTdi"  IOSTANDARD = LVCMOS33;
NET "oPinTdo"  IOSTANDARD = LVCMOS33;

NET "oSlvTck<1>"  IOSTANDARD = LVCMOS33;
NET "oSlvTms<1>"  IOSTANDARD = LVCMOS33;
NET "oSlvTdi<1>"  IOSTANDARD = LVCMOS33;
NET "iSlvTdo<1>"  IOSTANDARD = LVCMOS33;

NET "oSlvTck<2>"  IOSTANDARD = LVCMOS33;
NET "oSlvTms<2>"  IOSTANDARD = LVCMOS33;
NET "oSlvTdi<2>"  IOSTANDARD = LVCMOS33;
NET "iSlvTdo<2>"  IOSTANDARD = LVCMOS33;

NET "oSlvTck<3>"  IOSTANDARD = LVCMOS33;
NET "oSlvTms<3>"  IOSTANDARD = LVCMOS33;
NET "oSlvTdi<3>"  IOSTANDARD = LVCMOS33;
NET "iSlvTdo<3>"  IOSTANDARD = LVCMOS33;
